<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo8.model">
    <!-- 获取登录用户接口-->
    <select id="loginCase" parameterType="Integer" resultType="com.example.demo8.model.LoginCase">
        select * from logincase where id=#{id};
    </select>
    <!-- 添加用户接口-->
    <select id="addUserCase" parameterType="Integer" resultType="com.example.demo8.model.AddUserCase">
        select * from  addusercase where id=#{id};
    </select>
    <!-- 获取用户列表-->
    <select id="getUserListCase" parameterType="Integer" resultType="com.example.demo8.model.GetUserListCase">
        select * from  getuserlistcase where id=#{id};
    </select>
    <!-- 获取用户信息-->
    <select id="getUserInfoCase" parameterType="Integer" resultType="com.example.demo8.model.GetUserInfoCase">
        select * from  getuserinfo where id=#{id};
    </select>
    <!--更新/删除用户信息-->
    <select id="updateUserInfoCase" parameterType="Integer" resultType="com.example.demo8.model.UpdateUserInfoCase">
        select * from  updateuserinfocase where id=#{id};
    </select>
    
</mapper>